/* author: Yishuen Lo */

/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400|VT323');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

:root{
  --primary: #424242; /* dark grey */
  --accent: #FFB300; /* gold */
}

::selection{
  background-color: #F0F4C3;
}

body, h1, h2, h3, div, article, section, nav, main, ul, li, p, input, form, select, button{
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary);;
  background-color: #FAFAFA;
  font-family: 'fira sans', arial;
  font-weight: 200;
}

a{
  color: var(--primary);;
  text-decoration: none;
}

section h3 a:hover, nav footer a:hover, nav p a:hover{
  border-bottom: 2px solid var(--accent);;
  transition: 300ms ease-in;
  color: var(--accent);;
}

.prompt{
  font-size: 0.7em;
  float: right;
  opacity: 0.4;
}

.live-code-container{
  margin-top: 1em;
  /* border-top: 1px solid rgba(180, 180, 180, 0.4); */
}

.live-code{
  margin-top: 1em;
  padding-right: 1em;
  float: right;
  font-size: 0.8em;
  color: var(--primary);
  opacity: 0.45;
  transition: 500ms ease-out;
}

.live-code:hover{
  opacity: 1;
}

.fa{
  font-size: 1.15em;
  color: var(--primary);
  opacity: 0.5;
  transition: 400ms ease-in;
}

a:hover .fa-github{
  opacity: 1;
}

nav{
  position: fixed;
  width: 230px;
  height: 100%;
  background-color: white;
  padding: 1.5em;
  border-right: 2px solid rgba(131, 131, 131, 0.10);
}

nav h1{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
  text-align: left;
  margin-bottom: 1em;
}

nav p a{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav h2{
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
}

nav p{
  font-size: 0.90em;
  opacity: 0.8;
  margin-bottom: 2em;
}

nav ul{
  list-style: none;
}

nav li{
  font-size: 0.9em;
  padding: 0.15em 0;
}

nav li a{
  color: rgba(0, 0, 0, 0.50);
  text-decoration: none;
}

nav li a:hover{
  color: rgb(0, 0, 0);
}

nav footer{
  margin-top: 3em;
  font-size: 0.90em;
  text-align: left;
}

.love{
  color: var(--accent);
}

main{
  position: absolute;
  margin: 0 auto 2em 280px;
  padding-bottom: 2em;
  width: 80%;
}

.masonry{
  max-width: 1230px;
  margin: auto;
  align-content: center;
  display: grid;
  /* grid-gap: 0.5em; */
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  /* grid-auto-rows: 500px; */
}

.description{
  font-size: 0.9em;
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

section{
  width: 280px;
  background-color: white;
  margin: 2em auto 0 auto;
  padding: 1.25em 2em 2em 2em;
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 16px;
}

section h3{
  font-weight: 400;
  margin: 0.6em 0 1em 0;
}

section p{
  margin: 1em 0;
}

.github-js{
  float: right;
}

button, input[type=submit]{
  color: white;
  font-weight: 400;
  background-color: var(--accent);
  border-radius: 16px;
  border: 1px solid var(--accent);
  opacity: 0.6;
  box-shadow: none;
  padding: 0.25em 2em;
  margin: 1em 0;
  transition: 400ms ease-in;
}

input[type=submit]{
  display: inline-block;
  margin-top: 2em;
}

button:hover, input[type=submit]:hover{
  opacity: 1;
}

label{
  display: inline-block;
  width: 5em;
  /* padding-right: 1em; */
}

input, select{
  color: var(--accent);
  width: 80px;
  margin-bottom: 1em;
  border: 1px solid var(--accent);
  border-radius: 16px;
  padding: 0.5em;
  padding-left: 1em;
}

/* clear chrome outline */
input:focus, button:focus{
  outline-style: none;
  box-shadow:none;
}

input:focus, select:focus{
  color: var(--accent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type="number"][disabled] {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.2);
}

.highlight{
  color: var(--accent);
  font-weight: 400;
}

.original-prompt{
  text-decoration: line-through;
}

.prompt-change{
  color: #FF6F00;
}

/* -------start exercise 003---------- */
.digital-clock{
  color: var(--accent);
  font-size: 3em;
  font-family: VT323, monospace;
  opacity: 0.8;
  margin: 0;
}

.locations{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.fa-compass{
  opacity: 0.6;
  padding-right:0.25em;
}

.world-location{
  font-size: 0.9em;
  margin-right: 1em;
  opacity: 0.6;
}

.world-location-selected{
  font-size: 0.9em;
  margin-right: 1em;
  opacity: 1;
}

.world-location:hover{
  opacity: 1;
  cursor: pointer;
}
/* -------end exercise 003---------- */

#calculate{
  margin: 1.5em 1em 0.7em 0;
}

#e004{
  height: 350px;
}

#triangle-area{
  color: var(--accent);
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 3em;
}

.holiday-out-area{
  height: 120px;
}

/* -------start exercise 008---------- */
.computer-message-container{
  color: var(--primary);
  background-color: #F5F5F5;
  height: 40px;
  width: 100%;
  border-radius: 16px;
}

#computer-message{
  opacity: 0.7;
  font-size: 1.1em;
  font-family: VT323, monospace;
  padding: 12px 20px;
}

.viz-guide, .previous-guess-visual{
  display: inline-block;
  margin-top: 0;
}

.viz-label{
  padding-right: 6px;
}

.user-input{
  margin-top: 2em;
}

.guess{
  display: inline;
  padding: 0 5px;
  margin-right: 8px;
  border-bottom: 2px solid var(--primary);

}

.guess-default{
  display: inline;
  padding: 0 8.7px;
  border-bottom: 2px solid var(--primary);
  margin-right: 8px;
}

.reset-random-num{
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
  display: block;
  margin: 2em 0;
  transition: 400ms ease-in;
}

.reset-random-num:hover{
  border-color: var(--accent);
  color: var(--accent);
  opacity: 0.6;
}

.reset-random-num-highlight{
  border-color: var(--accent);
  background-color: var(--accent);
  margin: 2em 0;
  color: white;
  opacity: 0.6;
  display: block;
  transition: 400ms ease-in;
}

.reset-random-num button, .reset-random-num i {
    font-size: 0.85em;
}

.reset-random-num-highlight:hover{
  opacity: 1;
}


/* -------end exercise 008---------- */

/* --------------regex 01------------- */
textarea{
  color: var(--primary);
  font-size: 0.9em;
  font-family: 'fira sans', arial;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 16px;
}

.word-count-display{
  margin-left: 1em;
}

.bottom-row input[type=number]{
  width: 60px;
  padding-left: 2em;
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}
/* --------------regex 01------------- */

/* ---------------------ANIMATION start------------------- */
@-moz-keyframes focus-highlight {
  0%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
  5%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  10%{
    border: 2px solid #FFB300;
  }
  70%{
    border: 2px solid #FFB300;
  }
  95%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  100%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
}

@-webkit-keyframes focus-highlight {
  0%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
  5%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  10%{
    border: 2px solid #FFB300;
  }
  70%{
    border: 2px solid #FFB300;
  }
  95%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  100%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
}

@-o-keyframes focus-highlight {
  0%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
  5%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  10%{
    border: 2px solid #FFB300;
  }
  70%{
    border: 2px solid #FFB300;
  }
  95%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  100%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
}

@keyframes focushighlight {
  0%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
  5%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  10%{
    border: 2px solid #FFB300;
  }
  70%{
    border: 2px solid #FFB300;
  }
  95%{
    border: 2px solid rgba(131, 131, 131, 0.2);
  }
  100%{
    border: 1px solid rgba(131, 131, 131, 0.2);
  }
}

.focus-animate{
  animation: focushighlight 1800ms;
  -moz-animation: focushighlight 1800ms;
  -webkit-animation: focushighlight 1800ms;
  -o-animation: focushighlight 1800ms;
}

/* ---------------------ANIMATION end------------------- */

@media screen and (max-width: 756px){
  nav{
    display: none;
  }
  main{
    position: relative;
    margin-left: auto;
  }
  .masonry{
    width: 100%;
    margin: auto;
    grid-template-columns: none;
    grid-auto-rows: auto;
  }

  section{
    width: 200px;
  }

  .digital-clock{
    font-size: 2em;
  }
}

@media screen and (min-width: 757px) and (max-width: 1039px){
  main{
    width: 70%;
  }
  .masonry{
    width: 60%;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-auto-rows: auto;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1500px){
  main{
    width: 80%;
  }
  .masonry{
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  }

  section{
    width: 250px;
  }
}
